@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');

/* common */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 16pt;
    font-family: 'Share', Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

#app {
    display: flex;
    width: 100%;
}

#app::before {
    content: ' Loading... ';
    width: 100%;
    line-height: 100vh;
    position: fixed;
    background-color: rgba(255,255,255, 0.8);
    text-align: center;
    font-size: 40pt;
    color: #480ca8;
    text-indent: -206px;
    opacity: 0;
    transition: opacity 300ms;
    transition-delay: 3000ms;
    transition-timing-function: ease-in-out;
    visibility:hidden;
}

#app.loading::before {
    opacity: 1;
    transition-delay: 250ms;
    visibility:visible;
}
/* main-content */

.main-content {
    display: flex;
    flex-direction: row;
}

.main-content__sidebar {
    width: 200px;
    min-width: 200px;
    padding: 2.5rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px #c6c6c6;

}

/* main-menu */
.main-menu {
    margin-bottom: 3rem;
}

.main-menu__list {
    padding: 0;
}

.main-menu__item {
    list-style: none;
    padding: 0.5rem 0;
    position: relative;
}

.main-menu__item::before {
    content: ' ';
    height: 4px;
    width: 2.5rem;
    background-color: #480ca8;
    position: absolute;
    bottom: 50%;
    left: -5rem;
    transition: left 100ms;
}

.main-menu__item:hover::before {
    left: -3rem;
}

.main-menu__link.active {
    color: #480ca8;
}

.main-menu__link.active::before {
    content: ' ';
    height: 4px;
    width: 2.5rem;
    background-color: #480ca8;
    position: absolute;
    bottom: 50%;
    left: -3rem;
}

.main-menu__link {
    text-transform: uppercase;
    color: var(--dark-gray);
    font-size: 1.33rem;

}


/* hightlights */
.highlights {
    margin-bottom: 3rem;
}


.highlights .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* actions */
.actions {
    margin-bottom: 3rem;
}

.actions__item {
    display: block;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;    
}

/* social-info */
.social-info {
    display: flex;
    justify-content: space-between;
}

/* products-home & product-list*/
.products-home {
    display: grid;
    padding: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;    
}

.products-list__results {
}

.product-sidebar__filters {
    padding: 2.5rem 2rem;
    box-shadow: 0px 0 5px #c6c6c6 inset;
    background-color: rgba(72, 12, 168, 0.07);
    display: block;
    min-width: 8.5rem;
}

.product-sidebar__filter-title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.product-sidebar__filter-options {
    list-style: none;
    padding-left: 0.75rem;
}

.product-sidebar__filter-toggle > label {
    color: var(--gray)

}

.product-sidebar__filter-toggle > input[type="radio"] {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    opacity: 0;
    /* display:none doesnt trigger events */
}

.product-sidebar__filter-toggle > input[type="radio"]:checked + label {
    color: var(--primary);
}

.product-sidebar__filter-toggle > label.active {
    color: var(--primary);
}


.products-list {
    display: flex;
    padding: 2.5rem;
    flex-direction: column;
    width: 100%;
}

.products-list__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.products-list__item-image {
    min-width: 100%;
    max-width: 100%;
}

/* footer-content */
.footer-content {
    flex-direction: column;
    display: flex;
    background-color: var(--dark-gray);
    padding: 2.5rem;
    z-index: 1;
    position: relative;    
}